---
import BaseLayout from '../../layouts/BaseLayout.astro'
const pageTitle = "The docs collection";
---
<BaseLayout pageTitle={pageTitle}>
  <p>Markdown pages in my docs collection</p>
  <ul>
    <li><a href="#">Page 1</a></li>
    <li><a href="#">Page 2</a></li>
    <li><a href="#">Page 3</a></li>
  </ul>
</BaseLayout>