/* LESSON 2*/

html {
  background-color: #f1f5f9;
  color: #4f4d4d;
  font-family: Arial, sans-serif;
}
body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
  position:relative !important;
}

a:hover, a:focus {
  color: #44a2a0;
  text-decoration: underline;
}

a {
  color: #4F4D4E;
}

h3, h4 {
  font-family: 'Courier New', Courier, monospace;
}

h1, h2, h3, h4, h5, h6 {
  color: #255b69;
  text-transform: uppercase;
}

h1, h2 {
  text-transform: uppercase;
}

/* what fore?*/
* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

/* LESSON 8b */

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #44a2a0;
}

/* LESSON 8*/

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background: #44a2a0;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  height: 92px;
  min-height: 70px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #4F4D4E;
}

.nav-links a:hover,
.nav-links a:focus {
  background: #44a2a0;
  color: white;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
  /* LESSON 8b */
  .hamburger {
    display: none;
  }

}

@media screen and (min-width: 1024px) {
  header nav {
      width: 100%;
  }
}