<footer>
    <p>Evolution of TC | Astro masterclass</p>
    <p><a href="https://docs.astro.build/">Astro docs</a></p>
</footer>
<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>
