---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
import DarkModeToggle from './DarkModeToggle.astro';
---

<header>
  <nav>
    <Hamburger />
    <DarkModeToggle />
    <Navigation />
  </nav>
</header>
